<div class="text-light p-1 m-0">
    <!-- <a href="https://github.com/c0nrad/emmy" class="float-right">About</a> -->
    <h5>Emmy</h5>


    <div>
        <span *ngFor="let tabName of tabNames">
            <button (click)="currentTab = tabName" [class.btn-primary]="currentTab != tabName"
                [class.btn-secondary]="currentTab == tabName" class="btn btn-sm btn-primary"
                style="border-radius: 0 !important">{{tabName}}
            </button>
        </span>
    </div>

    <div class="bg-secondary">

        <div *ngIf="currentTab == 'Components'">

            <div *ngFor="let point of stateService.sim.points" style="border: 1px solid" class="mb-2">
                {{point.name}}<br>

                Position:
                <div class="row">
                    <div class="col">
                        <input type="number" (input)="dirty()" [(ngModel)]="point.position.d[0]"
                            class="form-control-sm form-control" placeholder="X">
                    </div>
                    <div class="col">
                        <input type="number" (input)="dirty()" [(ngModel)]="point.position.d[1]"
                            class="form-control-sm form-control" placeholder="Y">
                    </div>

                    <div class="col">
                        <input type="number" (input)="dirty()" [(ngModel)]="point.position.d[2]"
                            class="form-control-sm form-control" placeholder="Z">
                    </div>
                </div>

                Charge:
                <input type="number" [(ngModel)]="point.charge" (input)="dirty()" class=" form-control-sm form-control"
                    placeholder="Z">

            </div>

        </div>

        <div *ngIf="currentTab == 'Scene'">
            <h5>Scene Options</h5>

            <div class="form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="stateService.visualization.isDrawGrid">
                <label class="form-check-label">Show Grid</label>
            </div>


            <div class="form-check">
                <input type="checkbox" class="form-check-input"
                    [(ngModel)]="stateService.visualization.isDrawEVectorField">
                <label class="form-check-label">Show E Vector Field</label>
            </div>

            <div class="form-check">
                <input type="checkbox" class="form-check-input"
                    [(ngModel)]="stateService.visualization.isDrawETestPoints">
                <label class="form-check-label">Show Electric Test Points</label>
            </div>


            <div class="form-check">
                <input type="checkbox" class="form-check-input"
                    [(ngModel)]="stateService.visualization.isDrawEFieldLines">
                <label class="form-check-label">Show Electric Field Lines</label>
            </div>





        </div>

        <div *ngIf="currentTab == 'About'">
            <p>Electromagnetism engine.</p>
            <p>Source: <a href="https://github.com/c0nrad/emmy">Github</a></p>
        </div>

        <div *ngIf="currentTab == 'Examples'">
            <div class="clearfix pb-2" *ngFor="let scene of this.sceneService.scenes">
                <h4>{{scene.name}}</h4>
                <a class="btn btn-sm btn-primary float-right" href="?scene={{scene.name}}">Launch</a>
                <p>{{scene.description}}</p>

            </div>

        </div>
    </div>

</div>